/*notificacion*/
.notificationBarInner {
    background-color: #015ec5;
}

.notificationContent--global__container-notification {
    color    : #fff;
    font-size: .875rem;
}

.notificationContent--phone__container-notification {
    font-size: 13px;
    line-height: 17px;
    padding: 0 38px 0 15px;
    word-break: break-all; 
} 

/*slider*/
.imageElement--desktop__slider-children {
    height: 698px;
    width: 100%;
    object-fit: cover;
}

.imageElement--tablet__slider-children {
    height: 698px;
    width: 100%;
    object-fit: cover;
}

.imageElement--phone__slider-children {
    height: 548px;
    width: 100%;
    object-fit: cover;
}

/*image seccion 3*/
.imageElement--image__desktop-section3 {
    object-fit: cover;
    height: 692px;
    width: 93.7rem;
}

.imageElementLink--image__desktop-section3 {
    display: flex;
    justify-content: center;
}

.imageElement--image__tablet-section3 {
    object-fit: cover;
    height: 650px;
    width: 100%;
}

.imageElement--image__phone-section3 {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

/*infocard*/
.infoCardContainer--global__infocard {
    margin-bottom: 0.375rem;
}

.infoCardTextContainer--global__infocard {
    display    : flex;
    height    : 30rem;
    align-items: center;
    width: 430px;
}

.infoCardHeadline--global__infocard {
    color      : #333333;
    font-size  : 2.375rem;
    font-weight: normal;
    margin-bottom: 6px;
}

.infoCardSubhead--global__infocard {
    color    : rgb(51, 51, 51);
    font-size:  1.375rem;
    min-width: 17rem;
    margin   : 0px;
}

.infoCardCallActionText--global__infocard {
    margin: 0px;
    color: #00a3e7;
}

.infoCardCallActionContainer--global__infocard {
    text-decoration: none;
}
.infoCardCallActionText--global__infocard {
    text-decoration:none;
    font-weight: normal;
    font-size: 1.0625rem
}

/*search mega menu*/
/* .searchBarIcon--search-bar {
    color: transparent;
}  */

.searchBarIcon--search-bar--search {
   display: none;
}

.autoCompleteOuterContainer--search-bar :global(.vtex-input-prefix__group) {
    border: none;
}

