/*seccion ofertas destacadas*/
.paragraph--global__home__title-section5 {
    color: #181818;
    font-size: 42px;
    font-weight: 500;
}
.paragraph--global__home--title {
    color: #181818;
    font-size: .9375rem; 
}

.paragraph--global__title--offers {
    color: #181818;
    font-size: .9375rem; 
}

.container--rich-text__home {
    margin: 74px 0 22px
}

.paragraph--global__home--title:hover, .paragraph--global__title--offers:hover {
    border-bottom: 4px solid black;
    /* padding-bottom: 20px; */
}

.container--global__home__title-section5 {
    background: white;
}


/*header desktop*/
.paragraph--header__rich--title {
    color: #181818;
    font-size: .9375rem;
}

/*footer*/
.paragraph--desktop__footer--asustek {
    color: #666;
    font-weight: 450;
    font-size: 13px;
}

/*footer phone*/
.paragraph--footer__title {
    color: #4d4d4d;
    font-weight: 500;
    font-size: .875rem;
    margin: 0.5rem;
}

.paragraph--phone__footer--asustek {
    color: #666;
    font-weight: 450;
    font-size: 13px;
}

/* pdp */
.paragraph--product__shippig {
    color: #ff6600;
    font-size: 2rem;
}