/*header desktop*/
/* .flexCol--header__container-col1 {
    border-left: 1px solid #ccc; 
}  */
.flexCol--header__container-two {
    border-left: 1px solid #ccc;
}

.flexCol--header__container-three {
    border-left: 1px solid #ccc;
}

.flexCol--header__container-four {
    border-left: 1px solid #ccc;
    padding-left: 1rem;
}

.flexCol--header__container-col3 {
    border-left: 1px solid #ccc;
    
} 

.flexCol--header__container-col4 {
    border-left: 1px solid #ccc;
    padding-left: 1rem;
}

/*contenedor infocards*/
.flexRowContent--textColumn {
    padding: 0.375rem;
    column-gap: 0.375rem;
    min-width: 100%;
    background: white;
}
/*seccion de ofertas destacadas*/
.flexRow--global__container-offers {
    display: flex;
    justify-content: center;
}

.flexRowContent--global__container-offers {
    width: 25rem;
}

.flexRowContent--global__container-offers {
    display: flex;
    text-align: center;
    width: 300px;
}

.flexRow--global__container-offers {
    display: flex;
    justify-content: center;
}

.flexRow--global__container-offers {
    background: white;
}

/*footer*/
.flexRow--Desktop__Footer-Container {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
}

.flexRowContent--footer__container--desktop-2 {
    padding-top: 17px;
       
}

.flexRow--footer__container--desktop-2 {
    background-color: #f5f5f5; 
}

.flexCol--footer__container--col5 {
    grid-row-gap: 14px;
}

/*footer phone*/
.flexRow--phone__Container {
    background-color: #f5f5f5;
    padding-top: 9px;
    padding-bottom: 20px;
    grid-row-gap: 14px;
}

.flexRow--phone__Container-row1, .flexRow--phone__Container-row2, .flexRow--phone__Container-row3, .flexRow--phone__Container-row4 {
    margin-top: 10px;
}

.flexCol--phone__footer--container-col {
    background-color: #f5f5f5;
}

.flexRow--tablet__Container {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 3px;
    border-bottom: 1px solid #ccc;
}

.flexRow--footer__container--tablet-2 {
    padding-top: 15px;
}

.flexCol--footer__container--3 {
    grid-row-gap: 6px;
}

/* .flexColChild--search__filter--container {
    background: white;
} */

/* .flexColChild--search__results--container {
    background: white;
    border-radius: 10px;
} */

.flexColChild--gallery__content--content {
    margin-bottom: 1rem;
}

/* pdp */
.flexRow--product__breadcrumb, .flexRow--product__info, .flexRowContent--product__tabs  {
    background: white;
}

.flexRowContent--product__tabs  {
    padding-bottom: 2rem;
}