/*header desktop*/
.styledLinkContent--header__department-section1, .styledLinkContent--header__department-section2,.styledLinkContent--header__department-store, .styledLinkContent--header__category--select-hover, .styledLinkContent--header__category-4  {
  color: #4d4d4d;
  font-size: .9375rem;
}

.menuContainer--header__submenu-hogar {
  margin-right: 14rem;
} 

.styledLinkContent--header__department, .styledLinkContent--header__category {
  font-size: .9375rem;
  color: #666;
}

.styledLinkContent--header__category-1 {
  color: #262626;
  font-size: .9375rem;
  font-weight: 500;
}

.menuContainerNav--header__container-menu1 {
  border-bottom: 1px solid #ccc;
  background: white;
}

.submenuWrapper--header__container--submenu, .submenuWrapper--header__submenu-offers, .submenuWrapper--header__submenu {
  background: white;
}

.submenu--header__container--submenu {
  border-top: 1px solid #ccc;
}

/*footer*/
.styledLinkContent--footer__title-col2, .styledLinkContent--footer__title-col3 {
  display: none;
}

.styledLinkContent--footer__title--envios, .styledLinkContent--footer__title--compra, .styledLinkContent--footer__title--productos, .styledLinkContent--footer__title--pago {
  color: #181818;
  font-size: .875rem;
  font-weight: 400;
}


.styledLinkContent--footer__subtitle--envios, .styledLinkContent--footer__subtitle--compra, .styledLinkContent--footer__subtitle--asus-store, .styledLinkContent--footer__subtitle--pagos {
  color: #666;
  font-size: .8125rem;
  font-weight: 400;
}

.styledLinkContent--footer__title-col1, .styledLinkContent--footer__title-col4, .styledLinkContent--footer__title-col5, .styledLinkContent--footer__title-col6 {
  color: #181818;
  font-weight: 500;
  font-size: .875rem;
}

.styledLinkContent--footer__subtitle-col1, .styledLinkContent--footer__subtitle-col3 {
  color: #181818;
  font-size: .8125rem;
  font-weight: 500;
}

.styledLinkContent--footer__option1-col1, .styledLinkContent--footer__option2-col1, .styledLinkContent--footer__option1-col2, .styledLinkContent--footer__option2-col2, .styledLinkContent--footer__option3-col2, .styledLinkContent--footer__option1-col3, .styledLinkContent--footer__option1-col4, .styledLinkContent--footer__option2-col4, .styledLinkContent--footer__option1-col5, .styledLinkContent--footer__option2-col5, .styledLinkContent--footer__option3-col5, .styledLinkContent--footer__option4-col5, .styledLinkContent--footer__option5-col5, .styledLinkContent--footer__option6-col5, .styledLinkContent--footer__option1-col6, .styledLinkContent--footer__option2-col6 {
  color: #4d4d4d;
  font-size: .8125rem;
  font-weight: 450;
}

/*footer phone*/
.styledLinkContent--footer__subtitle-one {
  color: #4d4d4d;
  font-weight: 500;
  font-size: .875rem;
}

.styledLinkContent--footer__option-six {
  color: #4d4d4d;
  font-weight: 500;
  font-size: .875rem;
  padding-top: 12px;
}

.styledLinkContent--footer__option-one, .styledLinkContent--footer__option-two, .styledLinkContent--footer__option-3, .styledLinkContent--footer__option-4, .styledLinkContent--footer__option-5, .styledLinkContent--footer__option-seven {
  color: #4d4d4d;
  font-size: .8125rem;
  font-weight: 450;
  margin-left: 12px;
  padding-top: 12px;
}

.styledLinkContent--footer__subtitle--envios, .styledLinkContent--footer__subtitle--compra, .styledLinkContent--footer__subtitle--asus-store, .styledLinkContainer--footer__title--compra {
  white-space:normal;
  
}

.styledLinkContainer--footer__title--envios, .styledLinkContainer--footer__title--compra, .styledLinkContainer--footer__title--productos, .styledLinkContainer--footer__title--pago, .styledLinkContainer--footer__subtitle--envios, .styledLinkContainer--footer__subtitle--compra, .styledLinkContainer--footer__subtitle--asus-store, .styledLinkContainer--footer__subtitle--pagos {
  margin-left: 0;
}

.submenuWrapper--desktop__search-bar {
  background: white;
  border-top: 1px solid #ccc;
}

